html, body {
	overflow-x: hidden;
	background: #1b1b1b !important;
}
.content {
	height: 50vh;
}
.textarea {
	height: 40vh;
}
input::placeholder { 
	color: #fff;
}
textarea::placeholder { 
	color: #fff;
}